.popup__tail {

    .popup_to_right > & {
        top: 50%;
        left: 0;
        margin: -.5em -1em;
        clip: rect(-99em, auto, 99em, -99em)
    }

    &:before {

        .popup_to_right > & {
            transform: scale(1,.65) rotate(45deg);
            left: 50%;
        }
    }
}
