.popup__tail {

    .popup_to_bottom > & {
        top: 0;
        left: 50%;
        margin: -1em -.5em;
        clip: rect(-99em, 99em, auto, -99em)
    }

    &:before {

        .popup_to_bottom > & {
            top: 50%;
        }
    }

}
