.popup__tail {

    .popup_to_top > & {
        bottom: 0;
        left: 50%;
        margin: -1em -.5em;
        clip: rect(0, 99em, 99em, -99em)
    }

    &:before {

        .popup_to_top > & {
            top: -50%;
        }
    }
}
