.popup__tail {

    .popup_to_left > & {
        top: 50%;
        right: 0;
        margin: -.5em -1em;
        clip: rect(-99em, 99em, 99em, 0)
    }

    &:before {

        .popup_to_left > & {
            transform: scale(1,.65) rotate(45deg);
            left: -50%;
        }
    }
}
